@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    scroll-margin-top: 20px;
    scroll-behavior: smooth;
  }

  .serviceActive {
    --red: hsl(12, 100%, 73%);
    --grey: hsl(0, 0%, 92%);
    background-color: var(--red) !important;
    color: white !important;
    border-color: var(--grey) !important;
  }
}